services:
  - type: web
    name: critik-frontend
    env: static
    plan: free
    buildCommand: "./build.sh"
    staticPublishPath: "./dist/critik-frontend/browser"
    envVars:
      - key: API_BASE_URL
        value: "https://critik-backend.onrender.com"
    routes:
      # SPA routing: fallback to index.html
      - type: rewrite
        source: "/*"
        destination: "/index.html"
