# render.yaml
services:
  - type: web
    name: critik-frontend
    runtime: static        # Indicates a static site
    buildCommand: "npm install && npm run build"
    staticPublishPath: "dist/critik-frontend" # Angular build output
    envVars:
      - key: BASE_API_URL
        value: "https://critik-backend.onrender.com"